.main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: aquamarine;
}

.section{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
}